* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
  display: flex;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
  color: white;
  font-family: 'Press Start 2P', cursive;

}

button {
  cursor: pointer;
}

.title {
  margin: 20px;
}

.subtext {
  color: #ccc;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.board {
  display: inline-grid;
  padding: 10px;
  grid-template-columns: repeat(var(--size), 60px);
  grid-template-rows: repeat(var(--size), 60px);
  gap: 4px;
  background-color: #777;
  margin-bottom: 0.5rem;
}

.board > * {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid #bbb;
  user-select: none;
  font-size: 1rem;
}

.board > [data-status="hidden"] {
  background-color: #bbb;
  cursor: pointer;
}

.board > [data-status="mine"] {
  background-color: red;
}

.board > [data-status="number"] {
  background-color: none;
}

.board > [data-status="marked"] {
  background-color: yellow;
  border: yellow;
}

.game-resolution-container {
  background-color: rgba(110, 110, 110, 0.5);
  min-width: 14em;
  max-width: 14em;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.game-resolution-container > .restart-button {
  min-height: 2rem;
  font-family: 'Press Start 2P', cursive;
}

.game-resolution-container > .game-resolution-content {
  margin-bottom: -1em;
}

.game-resolution-container > * {
  margin-bottom: -0.5em;
  text-align: center;
}

.game-resolution-hidden {
  display: none;
}
